.bg-primary {
    background-color: #0066B3 !important;
}
.btn-primary {
    background-color: #0066B3 !important;
}

.logo {
    width: 100px;
    height: 100px;
    /*background-color: gray;*/
}

.excel-logo {
    width: 60px;
    height: 60px;
}

.logo-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

 .nav-link-my {
    color: #CBFBFF !important;
} 

.nav-link-my-active {
    color:black;
}

.nav-item-my {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 16pt;
}

.main-sections {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16pt;
}

.np-nav-link-my{
    color: black;
}

.np-nav-item-myactive{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 16pt;
}


.navbar-text {
    color: #CBFBFF !important;
} 

.bottom-line {
    border-bottom: 2px solid #C6E6FF;
}

.right-section{
    width: 70px;
    height: 70px;
}

/* .bg-light{
    background-color: #0066B3 !important;
} */

.text-footer {
    color: #CBFBFF !important;
}  

.txtarea{
    max-height: 120px;
}

/* .news_head{
    color:#0066B3 !important;
} */

.link-primary{
    color:#0066B3 !important;
}
/*main > .container {
    padding: 60px 15px 0;
}*/

.container-fluid{
    width: 95% !important;
/*    min-width: 980px !important;
     margin-top: 0px !important;
    margin-right: auto !important;
    margin-bottom: 0px !important;
    margin-left: auto !important;  */
}

.main-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22pt;
}


.border{
    border: 2px solid #DCDCDC !important;
    border-radius: 10px !important;;
}

.table .dots {
    position: relative;
    width: 400px;
  }
  
.table .dots span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    height:auto;
    width: 100%;
  }
  
  .dots:before {
    content: '';
    display: inline-block;
  }

.table-bordered {
    border: 2px solid #C6E6FF;
    border-collapse: collapse !important;
}

.table-bordered > thead {
    border: 2px solid #C6E6FF;
}

.table-bordered > thead> tr > th {
    border: 2px solid #C6E6FF !important;
    
}

.table-bordered > tbody > tr > td {
    border: 2px solid #C6E6FF;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; */
} 

.table > thead > tr {
    height: 65px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12pt;
}

.table > tbody > tr > td {
    vertical-align: middle;
    font-size: 12pt;
    font-family: 'Roboto', sans-serif;
}

.sections-hover{
    color: black;
}

.sections-hover:hover {
    color: #fd7e14; 
    text-decoration: underline; 
}

.news-hover{
    color: #0066B3;
}

.news-hover:hover {
    color: #fd7e14; 
    text-decoration: underline; 
}

.item-text{
    font-size: 13pt;
}

.news-view-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18pt;

}

.news-view-content {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30pt;

    color: #0066B3;
}









